body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* HEADER */
header {
  background: #000;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underlines;
}

/* HERO */
#hero {
  text-align: center;
  padding: 60px;
  background: #222;
  color: white;
}

#hero .name {
  color: #00d8ff;
  font-weight: bold;
}

#hero button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  background: #00d8ff;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}

#hero button:hover {
  background: #009eb5;
}

/* sections */
section {
  padding: 50px;
  text-align: center;
}

.project-box {
  background:white;
  padding: 15px;
  margin: 10px auto;
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1)
}

/* Contact form */
#contactForm input, #contactForm textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contactForm button {
  width: 150px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#contactForm button:hover {
  background: #444;
}

#feedback {
  margin-top: 10px;
  font-size: 18px;
  color: green;
}
